.navbar {
  background-color: rgb(255, 255, 255);
  color: rgb(230, 137, 137);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 10px;
}

.navbar button {
  background-color: rgb(61, 56, 56);
  color: rgb(109, 53, 53);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #c05454;
}

.navbar .home {
  font-size: 24px;
  font-weight: bold;
  color:black
}

.navbar .login {
  margin-right: auto;
  color:black
}

.navbar .register {
  margin-left: auto;
  color:black
}
.header_section {
  background-color: white; 
}

.nav-link {
  color: black !important; 
}

.navbar-toggler-icon {
  background-color: black; 
  border: 1px solid black; 
}


